<!DOCTYPE html>
<html>
<head>
<style>

</style>
</head>
<body>
	<div>
	<div class="bodycontent">
<img src="https://photos-1.dropbox.com/s/mqtefy1ocf3vi05/GaryEdelstein.jpg?dl=0" alt="" id="logo">
<br>
<br>
<br>		
		<p><span style="font-weight: 700; font-style: italic"> Gary Edelstein founded Harbor Textiles in _____ and has built the company into a one-stop-shop for all cleaning and janitorial needs. </p></span>
<br>
<br>
<br>
		<p>Supplying products for both commercial and residential application, our competitively-priced inventory includes:
		<ul>
			<li>Wiping products</li>
			<li>Gloves</li>
			<li>Bathroom supplies</li>
			<li>Trash can liners</li>
			<li>Disposable clothing</li>
			<li>Other janitorial supplies</li> 
		</ul>
		</p>

		<p>When you choose Harbor Textiles, you are not only getting a supplier, you are getting a partner. We are committed to leveraging our over 30 years of expertise to ensure you get exactly what you need at a great price. 

		<p><span style="font-weight: 700">Service Areas:</span> Proudly serving the USA with a focus on the New England Region.</p>

		<div style="text-align: center;"><p><span style="font-weight: 700">Contact us today to learn more about which product(s)<br> would be best for your application!</span></p>
		</div>
	</div>
</body>
</html>
