<!DOCTYPE html>
<html>
<head>
</head>
<body>
	<div class="bodycontent">
		<p><span style="font-weight: 700; font-size: 25px">Harbor Textiles provides quality wiping cloths, gloves, bathroom paper, trash can liners, and other cleaning supplies.</span> </p> 
		<p>Get professional-grade products at very affordable prices!</p>
	<hr>
		<p>For over 30 years, <span style="font-weight: 700">Harbor Textiles </span> has been committed to helping its customers find the right products to address a variety of janitorial and cleaning supply needs.

		<p>Our competitively-priced inventory includes:
		<ul>
			<li>Wiping products</li>
			<li>Gloves</li>
			<li>Bathroom paper</li>
			<li>Trash can liners</li>
			<li>Disposable clothing</li>
			<li>Other janitorial supplies</li> 
		</ul>
		</p>

		<p><span style="font-weight: 700">Service Areas:</span> Proudly serving the USA with a focus on the New England Region.</p>

		<div style="text-align: center;"><p><span style="font-weight: 700">Contact us today to learn more about which product(s)<br> would be best for your application!</span></p>
		</div>
	</div>
</body>
</html>