<div class="bodycontent">
<table >
  <tr>
    <th colspan="4"></th>
   </tr>
   <tr>
   <td><img src="https://photos-1.dropbox.com/s/cji80wnz63ov2sq/kim%20wipes.JPG?dl=0"><br>Kimtech Wipes</td>
    <td><img src="https://photos-1.dropbox.com/s/m2uxk2wxcb13r28/latex.JPG?dl=0">
    <br> Latex Gloves</td> 
    <td><img src="https://photos-1.dropbox.com/s/qrbmquxdy1xx52w/shop%20towels.JPG?dl=0"><br>Shop Towels</td>
    <td><img src="https://photos-1.dropbox.com/s/7mffvqjg8amycal/nitrile.JPG?dl=0"><br>Nitrile Gloves</td> 
  </tr>
</table>
<h1>Products</h1>

<p><span style="font-weight: 700">Harbor Textiles</span> offers a range of quality products to suit our customer's cleaning and janitorial needs. Browse our product selection below, or call us to discuss which products would be right for your company.</p> 

<p> Contact us for more information or a quote today!</p>
<p><span style="font-weight: 700">Product Types:</span></p>
<ul>
	<li> <A HREF="#standard">Standard Wiping Products</A></li>
	<li> <A HREF="#specialized">Specialized Wiping Products</A> </li>
	<li> <A HREF="#miscellaneous">Other Janitorial/Cleaning Products</A> </li>
</ul>
<p>To view our FULL PRODUCT BROCHURE, click here.</p>
<hr>
<A NAME="standard">
<p><span style="font-weight: 700">Standard Wiping Products:</span></p>
<div style="float: left; width: 50%;">
<ul>
	<li> Institutional rags</li>      
	<li> Nylon reinforced 4 ply paper</li>
	<li> Hydro-Knit </li>     
	<li> Spun-Lace </li>      
	<li> Recycled clothing</li>   
</ul>
</div>
<div style="float: right; width: 50%;">
<ul>	
	<li> Heavy Weight</li>
	<li> Medium Weight </li>     
	<li> Light Weight</li>    
	<li> Colored </li>    
	<li> White</li>
</ul>
</div>
<hr>
<A NAME="specialized">
<p><span style="font-weight: 700">Specialized Wiping Products: </span> Harbor Textiles offers the following unique products not always offered by other suppliers:</p>
<div style="float: left; width: 50%;">
<ul>
	<li>Authentic Cotton Diapers</li>     
	<li>Cotton Table Cloth </li>    
	<li>White and Blue Huck Towels</li> 
	<li>White and Colored Cotton Flannel</li>  
</ul>
</div>
<div style="float: right; width: 50%;">
<ul>
	<li>Elephant Paper Large Single Roll 2 ply</li>   
	<li>Elephant Paper Smaller Rolls</li>      
	<li>Pop Up Dispenser Boxes</li>
</ul>
</div>
<hr>
<A NAME="miscellaneous">
<p><span style="font-weight: 700">Other Janitorial/Cleaning Products: </span> Let us be your one-stop-shop! We strive to offer a broad selection of products so our customers can always find what they need:</p>
<div style="float: left; width: 50%;">
<ul>
	<li> Gloves </li>
	<li> Trashcan Liners </li>
	<li> Disposable Clothing </li>
</ul>>
</div>
<div style="float: right; width: 50%;">
<ul>
	<li> Rain Gear </li>
	<li> Floor Maintenance Products </li>
	<li> Bathroom Paper </li>
</ul>
</div>

<br>
<br>
<br>
<br>