/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

.headerphoto {
	background: url(https://photos-1.dropbox.com/s/dhhp4hc4wu04ttb/headerimage.jpg?dl=0);
	background-size: cover;
	max-height: 200px;
	display: block;
}
.headertext {
	font-size: 75px;
	color: black;
	padding-top: 50px;
	padding-bottom: 0;
	padding-left: 100px;
}

.navbar {
	margin-top: 100px;
	background: #434861;
    padding: 0;
    width: 100%;
    height: 60px;
    white-space: nowrap;
}

.navbar ul {
 	list-style-type: none;
 	margin: auto;
 	padding: 20px;
 	white-space: nowrap;
 }

 .navbar li {
 	display: inline-block;
    white-space: nowrap;
    text-align: center;
 }

 .navlink {
 	font-style: bold;
 	padding-left: 40px;
    padding-right: 40px;
  	font-size: 20px;
  	color: white;
  	text-decoration: none;
 }

 .navlink:hover {
 	color: #cdcbcb;
 }

.sidebar {
	background: #cdcbcb;
    width: 389px;
    height: 1300px;
    position: absolute;
}

.sidebar ul {
	list-style-type: none;
	line-height: 20px;
	font-size: 20px;
	font-weight: 700;
}

